@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}